.banner{
    margin-top: -22px;
    height: max-content;
    width: auto;
    float: top;
    background: #24ebff;
}

.banner h1{
    padding: 20px;
    color: #ffffff;
}

.instruction{
    margin-top: -22px;
    height: 654px;
    width: 20%;
    float: left;
    /*height: max-content;*/
    background: rgba(119, 254, 247, 0.42);
}

.instruction h2{
    margin-left: 5px;
    color: black;
}

#choose_area {
    margin-top: -22px;
    width: 80%;
    height: 654px;
    float: left;
    background: aliceblue;
    align-content: center;

}

#iframe_a {
    height: 80%;
    width: 100%;
}

.modes{
    height: 20%;
    width: 100%;
}

.modes button{
    height: 30%;
    width: 30%;
    padding: 5%;
    text-align: center;
    background: #21fc94;
}

.footer {
    height:max-content;
    margin-bottom: -22px;
    float: bottom;
    width: auto;
    background: #5b80b2;
    clear: both;
    text-align: center;
}

.footer h4{
    padding: 10px;
    color: white;
}