<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style/index.css">
{#    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>#}
    <title>自动存取柜</title>
    <script src="../static/js/index.js"></script>
</head>
<body style="margin-top:-22px;margin-left: -1px;margin-right: -1px;">

<div id="container">

    <div id="banner" class="banner" >
        <h1 align="center">自动存取柜</h1>
    </div>

    <div class="instruction">
        <h1>自动存取柜使用说明</h1>
        <h2>存货</h2>
        <ol>
            <li>点击存货按钮，跳转至存货界面</li>
            <li>绿色块代表可用柜子，红色块代表已占用柜子，黄色块为存取口</li>
            <li>点击绿色块，选择存放位置</li>
            <li>记住取货密码，点击返回</li>
        </ol>
        <h2>取货</h2>
        <ol>
            <li>点击取货按钮，跳转至取货界面</li>
            <li>在输入框中，输入取货密码</li>
            <li>点击提交</li>
        </ol>
        <h2>管理员</h2>
        <p style="margin-left: 20px">weekchen tel:15652575957</p>
    </div>

    <div id="choose_area">
        <iframe id="iframe_a" src="welcome.html" name="iframe_a"></iframe>
        <table class="modes">
            <tr>
                <th><button id="in" onclick="go_in()">存货</button></th>
                <th><button id="welcome" onclick="change_frame()">返回</button></th>
                <th><button id="out" onclick="go_out()">取货</button></th>
            </tr>
        </table>
    </div>

    <div class="footer">
        <h4 align="center">weekchen@copyright</h4>
    </div>
</div>

</body>
</html>
