<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style/take_in.css">
    <script src="../static/js/index.js"></script>
    <script src="../static/js/take_in.js"></script>
    <title>取货</title>
</head>
<body>
<div id="boxes">
    <table class="cabinet">
        <tr>
            <th>
                <form action="/in_submit/" method="get" >
                    <input type="text" value="box_402" name="box_num" style="display: none">
                    <button id="402" type="submit" style="background: {{ box_402 }};">402</button>
                </form>
            </th>
            <th>
                <form action="/in_submit/" method="get" >
                    <input type="text" value="box_401" name="box_num" style="display: none">
                    <button id="401" type="submit" style="background: {{ box_401 }};">401</button>
                </form>
            </th>
            <th>
                <form action="/in_submit/" method="get" >
                    <input type="text" value="box_400" name="box_num" style="display: none">
                    <button id="400" type="submit" style="background: {{ box_400 }};">400</button>
                </form>
            </th>
        </tr>
        <tr>
            <th>
                <form action="/in_submit/" method="get" >
                    <input type="text" value="box_302" name="box_num" style="display: none">
                    <button id="302" type="submit" style="background: {{ box_302 }};">302</button>
                </form>
            </th>
            <th>
                <form action="/in_submit/" method="get" >
                    <input type="text" value="box_301" name="box_num" style="display: none">
                    <button id="301" type="submit" style="background: {{ box_301 }};">301</button>
                </form>
            </th>
            <th>
                <form action="/in_submit/" method="get" >
                    <input type="text" value="box_300" name="box_num" style="display: none">
                    <button id="300" type="submit" style="background: {{ box_300 }};">300</button>
                </form>
            </th>
        </tr>
        <tr>
            <th>
                <form action="/in_submit/" method="get" >
                    <input type="text" value="box_202" name="box_num" style="display: none">
                    <button id="202" type="submit" style="background: {{ box_202 }};">202</button>
                </form>
            </th>
            <th>
                <form action="/in_submit/" method="get" >
                    <input type="text" value="box_201" name="box_num" style="display: none">
                    <button id="201" type="submit" style="background: {{ box_201 }};">201</button>
                </form>
            </th>
            <th>
                <form action="/in_submit/" method="get" >
                    <input type="text" value="box_200" name="box_num" style="display: none">
                    <button id="200" type="submit" style="background: {{ box_200 }};">200</button>
                </form>
            </th>
        </tr>
        <tr>
            <th>
                <form action="/in_submit/" method="get" >
                    <input type="text" value="box_102" name="box_num" style="display: none">
                    <button id="102" type="submit" style="background: {{ box_102 }};">102</button>
                </form>
            </th>
            <th>
                <form action="/in_submit/" method="get" >
                    <input type="text" value="box_101" name="box_num" style="display: none">
                    <button id="101" type="submit" style="background: {{ box_101 }};">101</button>
                </form>
            </th>
            <th><button id="100" style="background: {{ box_100 }};">100</button></th>
        </tr>
    </table>

</div>
</body>
</html>